@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.about-title {
  margin-bottom: 10px;
  font-family: Space Mono, monospace;
  width: 50%;
  text-align: left;
}

.about-description {
  margin-top: 0;
  width: 50%;
  font-size: 2.5vh;
  font-family: Space Mono, monospace;
  text-align: left;
}
@media (max-width: 768px) {
  .about-title,
  .about-description {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .about-title,
  .about-description {
    width: 90%;
  }
}

.about-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

.about-image {
  max-width: 20%;
  height: auto;
}

.self-image {
  width: 100%;
  height: auto;
  display: block;
}

.about-column {
  flex: 1;
  margin: 10px;
  min-width: 300px;
}

.left {
  max-width: 50%;
}
.right {
  max-width: 50%;
}
