/* src/styles/About.css */

.about-container {
  background: #1a1a1a;
  display: flex;
  flex-direction: column; /* Stack items on top of each other for smaller screens */
  align-items: center; /* Center align items on small screens */
  padding: 32px;
  gap: 16px; /* Space between the image and text */
}

/* Adjust layout for larger screens */
@media (min-width: 768px) {
  .about-container {
    flex-direction: row; /* Row layout for medium and larger screens */
    align-items: flex-start; /* Align items at the start of the flex container */
    padding: 64px;
    gap: 32px;
    height: 100vh;
  }
}

.about-image img {
  width: auto;
  height: auto;
  margin-bottom: 16px; /* Add some space below the image for small screens */
}

/* Text container */
.about-text {
  color: white;
  max-width: 100%;
  display: flex;
  flex-direction: column; /* Stack h2 and p vertically */
  justify-content: flex-start; /* Align text to the top of the container */
  text-align: center; /* Center-align text for small screens */
}

/* Adjust text alignment for larger screens */
@media (min-width: 768px) {
  .about-text {
    max-width: 600px;
    text-align: left; /* Left-align text for larger screens */
  }
}

.about-headings h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  margin-bottom: 1rem;
}
