@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer-copyright {
  font-family: Space Mono, monospace;
  color: #858585;
  font-size: smaller;
}
