@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: "Silkscreen", sans-serif; */
  font-family: "Space Mono", monospace;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(
    circle,
    #ffffff,
    #f4f4f4,
    #e9e9e9,
    #dedede,
    #d3d3d3
  );
  color: #fff;
  overflow: hidden;
  position: relative;
}

/* Title */
.landing-title {
  font-size: 4rem;
  margin: 0;
  transition: color 0.3s ease-in-out;
  color: #000000;
  text-align: center;
}

.landing-title:hover {
  color: #515151; /* Color change on hover */
}

/* Subtitle */
.landing-subtitle {
  font-size: 1.75rem; /* Responsive font size */
  margin-top: 10px;
  color: #000000;
  animation: typing 4s steps(60), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  max-width: 100%; /* Prevent overflow */
}

/* For Smaller Screens (Mobile) */
@media (max-width: 480px) {
  .landing-subtitle {
    font-size: 1.25rem;
    animation: typing-mobile 2s steps(30),
      blink 0.5s step-end infinite alternate;
  }
}

@keyframes typing-desktop {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes typing-mobile {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
/* Typing animation */
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

/* Button */
.landing-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #000000;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.1rem;
}

.landing-button:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Optional - Interactive Background */
.landing-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  z-index: 0;
}

.landing-container > * {
  position: relative;
  z-index: 1;
}
