.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-title {
  width: 74%;
  font-size: 10vh;
  margin-top: 100px;
  text-align: left;
}

.project-description {
  width: 74%;
  font-size: 4vh;
  text-align: left;
  font-family: Space Mono, monospace;
}
.project-subtitle {
  width: 74%;
  font-size: 4.5vh;
  font-family: Space Mono, monospace;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 5px;
}

.project-secondary-description {
  width: 74%;
  font-size: 3vh;
  text-align: left;
  font-family: Space Mono, monospace;
  margin-top: 5px;
}

.project-technologies {
  width: 74%;
  font-size: 3vh;
  text-align: left;
  font-family: Space Mono, monospace;
  margin: 0;
  padding: 0;
  /* margin-bottom: 5px; */
}

.project-secondary-title {
  width: 74%;
  font-size: 3vh;
  text-align: left;
  font-family: Space Mono, monospace;
  margin-top: 2px;
  margin-bottom: 5px;
  color: #7a7a7a;
  font-style: italic;
}

@media (max-width: 768px) {
  .project-title,
  .project-description,
  .project-subtitle,
  .project-secondary-description,
  .project-technologies,
  .website-image {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .project-title,
  .project-description,
  .project-subtitle,
  .project-secondary-description,
  .project-technologies,
  .website-image {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .project-site-images {
    width: 90%;
    max-width: 90%;
  }
}

.project-site-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 75%;
  max-width: 75%;
  height: auto;
  margin: 0;
  padding: 0;
}
.website-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 10px;
  margin-top: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
