@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #020202;
}

.project-title {
  font-size: 4vh;
}

.project-card {
  text-align: center;
}

.card-title {
  font-size: 2.5vh;
  color: #3f62bc;
}

.card-paragraph {
  font-family: Space Mono, monospace;
}
